.recipe-page {
  $self: &;
  padding: 50px 15%;

  &-loading {
    display: flex;
    flex-direction: column;
  }

  &-main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;

    &-title {
      width: fit-content;
      position: relative;
    }

    #{$self}-like {
      font-size: 18px;
      position: absolute;
      left: 105%;
      top: 50%;
      color: #afafaf;
      transform: translateY(-30%);
      transition: color 300ms;
      cursor: pointer;

      &:hover {
        color: #ff7875;
      }
    }

    #{$self}-rate {
      margin: 0;

      & > li {
        margin-inline: 0 !important;
        margin-inline-end: 8px !important;
      }
    }

    #{$self}-image {
      margin-top: 20px;
      object-fit: contain;
    }
  }
}

.liked {
  color: #ff4d4f;
}
