.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 35px;

  &-title {
    display: flex;
    align-items: center;

    &-text {
      margin: 0 !important;
      color: #dfdfdf !important;
    }
  }

  &-auth-buttons {
    justify-self: flex-end;
  }

  &-search {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -25%);
    &-input {
      width: 450px;
    }
  }
}